<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All cats</title>
    <link rel="stylesheet" href="/styles/pages.css">
</head>

<body>
    <header>
        <h1>All Cats</h1>
    </header>
    <main class="vertical-flex-container">

        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Cat number</th>
                        <th>Cat name</th>
                        <th>Breed</th>
                        <th>Weight (kg)</th>
                        <th>Year of birth</th>
                    </tr>
                </thead>
                <tbody>
                    <% result.forEach(cat=> { %>
                        <tr>
                            <td>
                                <%= cat.number %>
                            </td>
                            <td>
                                <%= cat.name %>
                            </td>
                            <td>
                                <%= cat.breed%>
                            </td>
                            <td>
                                <%= cat.weightKg%>
                            </td>
                            <td>
                                <%= cat.yearOfBirth %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>


        <a href="/"><button class="home-button">Main Menu</button></a>
    </main>
    <footer></footer>
</body>

</html>