<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/pages.css">
</head>

<body>
    <header>
        <h1>Cat Data</h1>
    </header>
    <main>
        <div class="vertical-flex-container">
            <table>
                <tr>
                    <th>Cat number:</th>
                    <td>
                        <%= result.number %>
                    </td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>
                        <%= result.name %>
                    </td>
                </tr>
                <tr>
                    <th>Breed:</th>
                    <td>
                        <%= result.breed %>
                    </td>
                </tr>
                <tr>
                    <th>Weight (kg): </th>
                    <td>
                        <%= result.weightKg%>
                    </td>
                </tr>
                <tr>
                    <th>Year of birth:</th>
                    <td>
                        <%= result.yearOfBirth %>
                    </td>
                </tr>
            </table>

            <a href="/"><button class="home-button">Main Menu</button></a>
        </div>
    </main>
    <footer></footer>
</body>

</html>