<!DOCTYPE html>
<!--Use for adding or modifying a cat-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Form</title>
    <link rel="stylesheet" href="/styles/pages.css">
</head>

<body>
    <header>
        <h1>
            <%= header1 %>
        </h1>
    </header>
    <main>
        <div class="vertical-flex-container">
            <form class="vertical-flex-container" action="<%= action %>" method="POST">

                <p>
                    <label for="number">Number:</label>
                    <input type="text" id="number" name="number" size="6" value="<%=  number.value %>"
                        <%=number.readonly %> >
                </p>

                <p><label for="name">Name:</label>
                    <input type="text" id="name" name="name" size="20" value="<%= name.value %>" <%=name.readonly %> >
                </p>

                <p><label for="breed">Breed:</label>
                    <input type="text" id="breed" name="breed" size="25" value="<%= breed.value %>" <%=breed.readonly %>
                    >
                </p>


                <p> <label for="weightKg">Weight (kg):</label>
                    <input type="number" id="weightKg" name="weightKg" size="3" value="<%= weightKg.value %>"
                        <%=weightKg.readonly %> >
                </p>


                <p> <label for="yearOfBirth">Year of birth:</label>
                    <input type="text" id="yearOfBirth" name="yearOfBirth" size="10" value="<%= yearOfBirth.value %>"
                        <%=yearOfBirth.readonly %> >
                </p>

                <button class="submit" type="submit">Submit</button>
            </form>

            <a href="/"><button class="home-button">Main Menu</button></a>
        </div>
    </main>
    <footer></footer>

</body>

</html>