<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/pages.css">
</head>

<body>
    <header>
        <h1 class="<%= status.type %>">
            <%= header1 %>
        </h1>
    </header>
    <main class="flex-container">

        <div class="vertical-flex-container">
            <p class="<%= status.type %> status">
                <%= status.message %>
            </p>

            <a href="/"><button class="home-button">Main Menu</button></a>
        </div>
    </main>
</body>

</html>